{% extends 'base.html' %}
{% block title %} Blog {% endblock title %}
{% block css %}
    body{
      background-color : #FDF2E9  ;
        font-family: 'Karla', sans-serif;
      }
{% endblock css %}


 {% block js %}
    <script>
        let previews= document.getElementsByClassName('preview');
        Array.from(previews).forEach((element)=>{
            element.innerHTML = element.innerText;
        });
    </script>
 {% endblock js %}
{% block activeBlog %} active {% endblock activeBlog %}

{% block body %}
    <div class="container">
        <hr>
        <h3>Checkout latest Blogs</h3>
            {% for post in allPost %}
            <div class="row mb-2 my-4">
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">Article by {{ post.author }} ({{ post.view }} Views)</strong>
                  <h3 class="mb-0">{{ post.title }}</h3>
                  <div class="mb-1 text-muted">{{ post.datetime }}</div>
                    <p class="card-text mb-auto"><div class="preview"> {{ post.content |safe| truncatechars:500 }}</div></p>
                  <div class="my-3">
                    <a href="/blog/{{ post.slug }}" role="button" class="btn btn-primary">Continue reading</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock body %}